<!-- About Section -->
    <section id="Resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">About Alzheimer's</h4>
                                </div>
                                <div class="timeline-body">
                                    <a href="https://www.nia.nih.gov/health/alzheimers-and-dementia/alzheimers-disease-fact-sheet" class="text-muted">Learn More</a> 
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Info & Treatment</h4>
                                </div>
                                <div class="timeline-body">
                                    <a href="https://www.brightfocus.org/alzheimers/treatments?gad_source=1&gclid=Cj0KCQjw2uiwBhCXARIsACMvIU3DIhgk12qCjxNR9A1hEbi5nN0OA9KppqR65cndGSspCoPHATDjmKsaAlcaEALw_wcB" class="text-muted">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Grants</h4>
                                </div>
                                <div class="timeline-body">
                                    <a href="https://alzfdn.org/find-a-member/grant-information/#:~:text=Our%20Bi%2DAnnual%20membership%20grants,Each%20grant%20award%20is%20%246%2C000" class="text-muted">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
