<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Location Access</h2>
                <br>
                <div id="map"></div>
                <script src="app.js"></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKhhhkPRu64XX3eqPhpHYkk7LqtavA6Qw&libraries=drawing&callback=initMap"></script>
                <h3 class="section-subheading text-muted">Record a short voice memo about your day! It can include anything that happened today that you might want to remember. <br>For example, what time did you eat lunch? Where did you go today? Who did you meet?<br><br>**In the future, we would like to add functionality that generates a quiz based on the recorded voice memos. Then, when a user has consistently been getting questions wrong, it can serve as an indication that their memory is deteriorating.</h3>
            </div>
        </div>
    </div>
</section>

    <script>
      function initMap() {
        const mapOptions = {
          zoom: 20,
        };
      
        // Get user's geolocation
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const { latitude, longitude } = position.coords;
            const userLocation = { lat: latitude, lng: longitude };
            
            // Set user's location as the center of the map
            mapOptions.center = userLocation;
      
            // Create the map
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
      
            // Initialize DrawingManager
            drawingManager = new google.maps.drawing.DrawingManager({
              drawingMode: google.maps.drawing.OverlayType.MARKER,
              drawingControl: true,
              drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  google.maps.drawing.OverlayType.MARKER,
                  google.maps.drawing.OverlayType.RECTANGLE,
                  google.maps.drawing.OverlayType.CIRCLE,
                ],
              },
              markerOptions: {
                icon: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
              },
              circleOptions: {
                fillColor: "#ffff00",
                fillOpacity: 1,
                strokeWeight: 5,
                clickable: false,
                editable: true,
                zIndex: 1,
              },
            });
      
            // Set the map for the DrawingManager
            drawingManager.setMap(map);
    
            yum = new google.maps.event.addListener(drawingManager, 'circlecomplete', function(circle) {
                var radius = circle.getRadius();
                console.log(radius)
              });
              
              eh = new google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                if (event.type == 'circle') {
                  var radius = event.overlay.getRadius();
                  console.log(radius)
                }
              });
          },
          (error) => {
            console.error("Error getting user's location:", error);
          }
        );
    
      }
    </script>
</body>
</html>

