<!-- Resources Section -->
    <section id="Resources"> <!-- This section uses #Resources to refer to this part of the HTML file -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"> <!-- Centers the section header -->
                    <h2 class="section-heading">Resources</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline"> <!-- Allows the pictures to be centered while the text surrounds the images on alternating sides -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about_alz.jpg" alt="" style="width: 180px; height: 157px;"> <!-- Inserts the image of two people on a bench-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">About Alzheimer's</h4>
                                    <p class="text-muted">Explore the impact of Alzheimer's disease on the brain, discover its diagnosis process, and uncover opportunities for participation in clinical trials and research studies.</p> <!-- Class text-muted uses a css style that allows the descriptive text to not be too overpowering compared to its header-->
                                </div>
                                <div class="timeline-body">
                                    <a href="https://www.nia.nih.gov/health/alzheimers-and-dementia/alzheimers-disease-fact-sheet" target="_blank" class="text-muted">Learn More</a> <!-- Links the NIH website about Alzheimer's -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/treatment.jpg" alt="" style="width: 180px; height: 157px;"> <!-- Inserts the image of a doctor writing an Rx -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Info & Treatment</h4>
                                    <p class="text-muted">Although there is no cure for Alzheimer’s disease, specific treatments, clinical trials, and drug options can effectively manage or delay its symptoms, especially during the initial phases of the disease. Various treatments such as Leqembi, Razadyne, Aricept, and others are available.</p>
                                </div>
                                <div class="timeline-body">
                                    <a href="https://www.brightfocus.org/alzheimers/treatments?gad_source=1&gclid=Cj0KCQjw2uiwBhCXARIsACMvIU3DIhgk12qCjxNR9A1hEbi5nN0OA9KppqR65cndGSspCoPHATDjmKsaAlcaEALw_wcB" target="_blank" class="text-muted">Learn More</a> <!-- Links a site to learn more about Alzheimer's treatment -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/finance.jpg" alt="" style="width: 180px; height: 157px;"> <!-- Inserts the image of people calculating finances -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Financial Support</h4>
                                    <p class="text-muted">Learn about several grant opportunities and services available to individuals, families, and caregivers affected by Alzheimer’s disease.</p>
                                </div>
                                <div class="timeline-body">
                                    <a href="https://alzfdn.org/find-a-member/grant-information/#:~:text=Our%20Bi%2DAnnual%20membership%20grants,Each%20grant%20award%20is%20%246%2C000" target="_blank" class="text-muted">Learn More</a> <!-- Links to a page where caregivers can apply for grants to care for Alzheimer's patients -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/clinic.jpg" alt="" style="width: 180px; height: 157px;"> <!-- Inserts image of a young person uplifting an older person -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Clinics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Find a clinic near you!</p>
                                    <a href = "https://www.carenow.com/locations/kansas-city/?utm_source=google&utm_medium=cpc&utm_campaign=UC_UCC_KANSAS+CITY_NONE_NONE_NONE_CONV_PHM_MF&utm_term=medical+care+near+me&utm_content=Medical+Care+(Exact)&gclid=Cj0KCQjw2uiwBhCXARIsACMvIU2zfVkMlqWN56SwHzwduOkTmWA9tDqajssh0v8zT10b64c9fc10_iUaAp6tEALw_wcB&gclsrc=aw.ds" target="_blank" class="text-muted">Learn More</a> <!-- Links to a site that finds nearby clinics that specialize in Alzheimer's care -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
