<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Our Services</h2>
                    <h3 class="section-subheading text-muted">MemoryMate is a comprehensive program designed to provide memory support for the elderly, particularly those with a family history of Alzheimer's disease or those currently diagnosed with it. Our program allows users to record voice memos throughout the day, which are then used to generate memory quizzes. This not only helps users keep track of their daily activities but also serves as a tool for early detection of Alzheimer's disease through data analysis. <br> Our hackathon project is aimed to targed the theme: Social Good. Specifically, public health, education, and finance. <br><br>Problem Statement: As the elderly population grows, so does the prevalence of memory-related issues and Alzheimer's disease. Current solutions often fail to provide adequate support and early detection, leaving caregivers and individuals vulnerable to overlooked signs and safety risks.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Memory Quizzes and Alzheimer's Detection</h4>
                    <p class="text-muted">Based on the recorded voice memos, the program generates memory quizzes to help users exercise their cognitive abilities. Users receive random notifications throughout the day to answer questions based on their recorded memos.Data analysis is performed over time to identify any potential signs of Alzheimer's disease based on the user's quiz results. Caregivers are alerted if there are indications of cognitive decline, prompting them to seek medical evaluation.</p>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location Tracking and Safety Features</h4>
                    <p class="text-muted">Location tracking functionality allows caregivers to monitor the whereabouts of the elderly users. Caregivers can set zones (red, green, yellow) and receive notifications if the user wanders into restricted areas, ensuring their safety. In the case the user is found in a red or yellow zone, caregivers are notified immediately. Caregivers can use the program to call for Uber/Lyft services to safely bring the user back home if they are unable to return on their own.</p>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-caret-right fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voice Memo Recording</h4>
                    <p class="text-muted">Users can easily record voice memos throughout the day using our intuitive interface. Memos are automatically timestamped and dated for reference.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Educational and Financial Resources</h4>
                    <p class="text-muted"> The website will provide access to educational and financial resources to support the well-being and independence of both people with memory issues and their caregivers.</p>
            </div>
       </div>
    </section>
